.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/misc.xml
.idea/vcs.xml

otservice/src/main/obj/local/
otservice/src/main/libs

bundletest/src/main/obj
opentee/src/main/jni/libtee

*~
*.iml
