<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.aalto.ssg.opentee_mainapp" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name" >
        <service
            android:name="fi.aalto.ssg.opentee.OpenTEEService"
            android:exported="false" >
        </service>

    </application>

</manifest>
